/* Adicione seus estilos CSS aqui */

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background: url('imagens/estante.png') no-repeat center center fixed;
    background-size: cover;
}

.overlay {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3); /* Adiciona um fundo semi-transparente */
}

header {
    background-color: #481E14;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-radius: 10px;
    
}
button {
    background-color: #fbf9f900;
    color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 11px;
    font-weight: 35;
    border-radius: 10px;
    cursor: pointer;
    width: 20%;
    margin-bottom: 10px;
}

nav {
    margin-top: 10px;
}

nav a {
    font-family: Arial, sans-serif;
    color: #DC5F00;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

nav a:hover {
    color: #007BFF;
}

main {
    text-align: center;
}

#books-section {
    max-width: 5000px;
    margin: 0 auto;
    padding: 0,5px;
    background-color: rgba(0, 0, 0, 0.319);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
}

#books-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#books-list li {
    background-color: rgba(255, 250, 250, 0.611);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(255, 255, 255);
    width: 200px;
    text-align: left;
    transition: transform 0.2s;
}

#books-list li:hover {
    transform: scale(1.05);
}

.book-cover img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.book-info p {
    margin: 5px 0;
}


section h2 {
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
}