/* Reseta alguns estilos padrões para maior consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('estante.png') no-repeat center center fixed; /* Adicione a imagem de fundo aqui */
    background-size: cover;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Estilização do overlay para melhor legibilidade */
.overlay {
    background: rgba(255, 255, 255, 0.582);
    padding: 20px;
    border-radius: 10px;
}

/* Estilização do header */
header {
    background-color: #0033a1;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-radius: 10px;
}

header h1 {
    margin-bottom: 10px;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #0033a1;
}

/* Estilização da seção principal */
main {
    max-width: 800px;
    margin: 20px auto;
}

section h2 {
    color: #0033a1;
    margin-bottom: 10px;
    text-align: center;
}

/* Estilização do formulário de pesquisa */
#search-section {
    margin-bottom: 30px;
}

#search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-form label,
#search-form select,
#search-form input,
#search-form button {
    margin-bottom: 10px;
    width: 100%;
    max-width: 500px;
}

#search-form input,
#search-form select {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-form button {
    background-color: #0033a1;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#search-form button:hover {
    background-color: #0033a1;
}

/* Estilização da lista de resultados */
#results-section {
    margin-top: 20px;
}

#results-list {
    list-style: none;
    padding: 0;
}

#results-list li {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#results-list li h3 {
    color: #333;
    margin-bottom: 5px;
}

#results-list li p {
    margin-bottom: 5px;
}

#results-list li .contact-info {
    font-size: 0.9em;
    color: #666;
}
