/* Reseta alguns estilos padrões para maior consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label{
    font-family: Arial, sans-serif;
    color: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    background: url('imagens/estante2.png') no-repeat center center fixed; /* Adicione a imagem de fundo aqui */
    background-size: cover;
    color: #000000;
    line-height: 1.6;
    padding: 20px;
}

/* Estilização do overlay para melhor legibilidade */
.overlay {
    background: rgba(0, 0, 0, 0.63);
    padding: 20px;
    border-radius: 10px;
}

/* Estilização do header */
header {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #481E14;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-radius: 10px;
}

header h1 {
    margin-bottom: 10px;
}

nav {
    margin-top: 10px;
}

nav a {
    font-family: Arial, sans-serif;
    color: #DC5F00;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #0033a1;
}

/* Estilização da seção principal */
main {
    max-width: 800px;
    margin: 20px auto;
}

section h2 {
    color: #DC5F00;
    margin-bottom: 10px;
    text-align: center;
}

/* Estilização do formulário de pesquisa */
#search-section {
    margin-bottom: 30px;
}

#search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-form label,
#search-form select,
#search-form input,
#search-form button {
    margin-bottom: 10px;
    width: 100%;
    max-width: 500px;
}

#search-form input,
#search-form select {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-form button {
    background-color: #481E14;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#search-form button:hover {
    background-color: #0033a1;
}

/* Estilização da lista de resultados */
#results-section {
    margin-top: 20px;
}

#results-list {
    list-style: none;
    padding: 0;
}

#results-list li {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#results-list li h3 {
    color: #333;
    margin-bottom: 5px;
}

#results-list li p {
    margin-bottom: 5px;
}

#results-list li .contact-info {
    font-size: 0.9em;
    color: #000000;
}

/* Estilos do botão "Fechar Negócio" */
.close-deal-btn {
    display: block;
    background-color: #36f46f;
    color: rgb(0, 0, 0);
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.close-deal-btn:hover {
    background-color: #d32f2f;
}

/* Estilos do modal para posicionar no canto inferior direito */
.modal {
    display: none;
    position: fixed;
    z-index: 1000; 
    bottom: 0;
    right: 0;
    width: 300px; /* Defina uma largura adequada */
    height: 400px; /* Defina uma altura adequada */
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.75); /* Fundo semitransparente */
    border-radius: 10px 10px 0 0; /* Canto superior arredondado */
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.5); /* Sombra para destaque */
}

/* Ajuste do conteúdo do modal */
.modal-content {
    background-color: #ffffffad;
    margin: 10; /* Remova a margem */
    padding: 20px;
    border: none; /* Remova a borda */
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    box-shadow: none; /* Remova a sombra */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Estilo para o botão de fechar */
.close {
    color: #ff0000;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

/* Estilo para as mensagens */
#chatMessages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}

/* Estilo para o formulário do chat */
#chatForm {
    display: flex;
}

#messageInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

#chatForm button {
    padding: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #0033a1;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#chatForm button:hover {
    background-color: #002080;
}
